.button {
    background-color: #347B98;
    border: none;
    color: white;
    text-align: center;
    opacity: 0.9;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}


.space {
    margin-left: 20px;
    margin-right: 380px;
}